[submodule "cltl-face-all"]
	path = cltl-face-all
	url = git@github.com:leolani/cltl-face-all.git
	branch = main
[submodule "pytorch-template"]
	path = templates/pytorch-template
	url = https://github.com/vltanh/pytorch-template.git
	branch = master
