alembic==1.7.6
attrs==21.4.0
autopage==0.5.0
black==22.1.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
cliff==3.10.0
cmaes==0.8.2
cmd2==2.3.3
colorlog==6.6.0
filelock==3.6.0
flake8==4.0.1
greenlet==1.1.2
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.2.0
importlib-resources==5.4.0
isort==5.10.1
joblib==1.1.0
Mako==1.1.6
markdown-it-py==2.0.1
MarkupSafe==2.1.0
mccabe==0.6.1
mdformat==0.7.13
mdurl==0.1.0
mypy-extensions==0.4.3
numpy==1.21.5
optuna==2.10.0
packaging==21.3
pathspec==0.9.0
pbr==5.8.1
Pillow==9.0.1
platformdirs==2.5.0
prettytable==3.1.1
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.7
pyperclip==1.8.2
PyYAML==6.0
regex==2022.1.18
requests==2.27.1
sacremoses==0.0.47
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
SQLAlchemy==1.4.31
stevedore==3.5.0
threadpoolctl==3.1.0
tokenizers==0.11.5
tomli==2.0.1
torch==1.10.2
torchaudio==0.10.2
torchvision==0.11.3
tqdm==4.62.3
transformers==4.16.2
typed-ast==1.5.2
typing_extensions==4.1.1
urllib3==1.26.8
wcwidth==0.2.5
zipp==3.7.0
